@model User


<div id="smcontainer">
    <h1>Create a User!</h1>

    <form asp-controller = "Home" asp-action="Register" method = "post">
        <div class="form-group">
            <label asp-for="UserName"></label>
            <input asp-for ="UserName" class="form-control">
            <span asp-validation-for="UserName" class = "alert-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="SpiritAnimal"></label>
            <input asp-for ="SpiritAnimal" class="form-control">
            <span asp-validation-for="SpiritAnimal" class = "alert-danger"></span>
        </div>



        <div class="form-group">
            <label asp-for="Password"></label>
            <input asp-for ="Password" class="form-control">
            <span asp-validation-for="Password" class = "alert-danger"></span>
        </div>


        <div class="form-group">
            <label asp-for="Confirm"></label>
            <input asp-for ="Confirm" class="form-control">
            <span asp-validation-for="Confirm" class = "alert-danger"></span>
        </div>

        <input type="submit" class= "btn btn-lf btn-success">
    </form>
</div>